@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Information</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayFor(model => model.Specialty) | @Html.DisplayFor(model => model.Experience) year(s) of experience</p>

@if (Model.Clients.Count == 0)
{
  <p>No client registered yet. </p>
  <p>Click @Html.ActionLink("here", "Create", "Clients") to add new client for @Html.DisplayFor(model => model.Name).</p>
} 
else {
  <h4>Clients: </h4>
  @foreach(Client client in Model.Clients)
  {
    <div>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</div>
  }
}

<p>@Html.ActionLink("Edit Info", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Unregister this stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to Stylist List", "Index")</p>