@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="card" id="client-create">
  <h2>Register New Client</h2>
  <div class="form">
    @using (Html.BeginForm())
    {
      <div class="form-div">
        <div>
          @Html.LabelFor(model => model.Name, "Name: ")
          @Html.TextBoxFor(model => model.Name)
        </div>
        <div>
          @Html.LabelFor(model => model.Stylist, "Stylist: ")
          @Html.DropDownList("StylistId")
        </div>
        <div>
          @Html.LabelFor(model => model.ContactInfo, "Phone: ")
          @Html.TextBoxFor(model => model.ContactInfo)
        </div>
      </div>
      <input type="submit" value="Register" />
    }
  </div>
  <div class="buttons">
    <p>@Html.ActionLink("Back to Client List", "Index")</p>
    <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
  </div>
</div>
